<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>COSSIM LIMITED</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/cossim logo.png" rel="icon">
  <link href="static/img/cossim logo.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,300&family=Source+Sans+Pro&display=swap" rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="static/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="static/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Mentor - v2.2.1
  * Template URL: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="index.html"><img src="static/img/cossim logo.png" class="img-fluid" alt=""></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
           <li class="active"><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('about') }}">About</a></li>
          <li><a href="{{ url_for('services') }}">Services</a></li>
          <!-- <li><a href="track.html">Track Order</a></li> -->
          <li><a href="{{ url_for('offices') }}">PickUp Stations</a></li>
          <li><a href="{{ url_for('contact') }}">Contact</a></li>

        </ul>
      </nav><!-- .nav-menu -->


    </div>


  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Our PickUp Stations</h2>
        <p>We have over 20 offices across key towns in Kenya to serve you.</p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Cource Details Tabs Section ======= -->
    <section id="offices" class="offices">
      <div class="collapsible-container">
        <h2>Nairobi Offices</h2>
        <button active type="button" class="collapsible" style="background-color: rgb(247, 88, 14);">Gateway Mall Office<i class="fa-solid fa-plus"
            style="float: right;"></i></button>
        <div class="content" style="display:contents">
          <h3>Gateway Mall Office</h3>
          <p class="font-italic">Gateway Mall, 3rd floor</p>
          <p>Mombasa Road</p>
          <strong>Phone:</strong> 0208000080
        </div>
        <button type="button" class="collapsible">Fedha Embakasi Office <i class="fa-solid fa-plus"
            style="float: right;"></i></button>
        <div class="content">
          <h3>Fedha Office</h3>
          <p class="font-italic">Aviators Business Park, 1st floor Room No. B22,</p>
          <p>Next to Nyayo Estate Gate B</p>
          <strong>Phone:</strong> 0202000090
        </div>
        <button type="button" class="collapsible">Shujaa Mall Office<i class="fa-solid fa-plus"
            style="float: right;"></i></button>
        <div class="content">
          <h3>Shuja Office</h3>
          <p class="font-italic">Shujaa Mall Ground floor</p>
          <p>Kayole along Spine Road, after Bee Center net to SOsian Estate Main Gate.</p>
          <strong>Phone:</strong> 0202030332
        </div>
        <button type="button" class="collapsible">Mtindwa Office <i class="fa-solid fa-plus"
            style="float: right;"></i></button>
        <div class="content">
          <h3>Umoja Office</h3>
          <p class="font-italic">Mtindwa Road</p>
          <p>Off Outering Road, Opposite KCB ATM point 1st floor</p>
          <strong>Phone:</strong> 0202030333
        </div>
        <button type="button" class="collapsible">Roysambu Office <i class="fa-solid fa-plus"
            style="float: right;"></i></button>
        <div class="content">
          <h3>Roysambu Office</h3>
          <p class="font-italic">Jewel Complex, 2nd floor, Next to TRM Mall</p>
          <p>Thika Road, Roysambu</p>
          <strong>Phone:</strong> 0202033309
        </div>
        <button type="button" class="collapsible">Kasarani Office <i class="fa-solid fa-plus"
            style="float: right;"></i></button>
        <div class="content">
          <h3>Kasarani Office</h3>
          <p class="font-italic">Nyali Stalls</p>
          <p>Kasarani Mwiki Road, Ground floor Stall No. G16/ Opposite Next to Naivas Supermarket</p>
          <strong>Phone:</strong> 0202030334
        </div>
        <button active type="button" class="collapsible">Rongai Office<i class="fa-solid fa-plus"
          style="float: right;"></i></button>
      <div class="content">
        <h3>Rongai Office</h3>
        <p class="font-italic">Paran Business Center, Stall No. 32</p>
        <p>Maasai Lodge, Tuktuk Stage along Magadi Road</p>
        <strong>Phone:</strong> 0202333030
      </div>
      </div>

      <!-- ======= Kiambu Offices ======= -->

      <div class="collapsible-container">
        <h2>Kiambu Offices</h2>
        <button active type="button" class="collapsible">Githurai 45 Office<i class="fa-solid fa-plus"
            style="float: right;"></i></button>
        <div class="content">
          <h3>Githurai 45 Office</h3>
          <p class="font-italic">Githurai 45 Wajukuu Plaza, 1st floor, Office No. 201</p>
          <p>Next to Co-operative Bank along Mwiki Road</p>
          <strong>Phone:</strong> 0202030331
        </div>
        <button type="button" class="collapsible">Kahawa West Office<i class="fa-solid fa-plus"
            style="float: right;"></i></button>
        <div class="content">
          <h3>Kahawa West Office</h3>
          <p class="font-italic">Kahawa West Stage Stalls, 1st floor Stall No. F-14</p>
          <p>Opposite Quickmart Supermarket.</p>
          <strong>Phone:</strong> 0202000110
        </div>
        <button type="button" class="collapsible">Thika Ananas Office<i class="fa-solid fa-plus"
            style="float: right;"></i></button>
        <div class="content">
          <h3>Ananas Mall Office</h3>
          <p class="font-italic">Ananas Mall 1st floor, Room No. 3</p>
          <p>Thika-Garissa Road</p>
          <strong>Phone:</strong> 0202033308
        </div>
        <button type="button" class="collapsible">Thika Arcade Office<i class="fa-solid fa-plus"
            style="float: right;"></i></button>
        <div class="content">
          <h3>Thika Arcade Complex</h3>
          <p class="font-italic">Ground floor</p>
          <p>Mama Ngina Drive, Thika</p>
          <strong>Phone:</strong> 0202033305
        </div>
      </div>

      <!-- ======= Kisumu Offices ======= -->
      <div class="collapsible-container">
        <h2>Kisumu Offices</h2>
        <button active type="button" class="collapsible">Kisumu Mega Mall Office<i class="fa-solid fa-plus"
            style="float: right;"></i></button>
        <div class="content">
          <h3>Mega Mall Office</h3>
          <p class="font-italic">Mega Mall, Ground floor Room No. 1</p>
          <p>Opposite Lake Basin Dental Clinic, Near Kenya Institute of Management</p>
          <strong>Phone:</strong> 0202033307
        </div>
        <button type="button" class="collapsible">Ahero Office<i class="fa-solid fa-plus"
            style="float: right;"></i></button>
        <div class="content">
          <h3>Ahero Office</h3>
          <p class="font-italic">BECA Corner House, Ground floor Room No. 3</p>
          <p>Opposite Pearl Drinking Water, Ahero Kisumu</p>
          <strong>Phone:</strong> 0202333922
        </div>
        <button type="button" class="collapsible">Maseno Office<i class="fa-solid fa-plus"
          style="float: right;"></i></button>
      <div class="content">
        <h3>Maseno Office</h3>
        <p class="font-italic">Jumia House</p>
        <p>Besides the Soda Deport, near Mum's Hotel</p>
        <strong>Phone:</strong> 0202333944
      </div>
      </div>

      <!-- ======= Nakuru Offices ======= -->
      <div class="collapsible-container">
        <h2>Nakuru Offices</h2>
        <button active type="button" class="collapsible">Nakuru Prime Plaza Office<i class="fa-solid fa-plus"
            style="float: right;"></i></button>
        <div class="content">
          <h3>Prime Plaza Office</h3>
          <p class="font-italic">Prime Plaza Basement floor Room No. 22</p>
          <p>Mburu Gichua Road, Nakuru CBD</p>
          <strong>Phone:</strong> 0757931233
        </div>
        <button type="button" class="collapsible">Naivasha Office<i class="fa-solid fa-plus"
            style="float: right;"></i></button>
        <div class="content">
          <h3>Cedar Complex Office</h3>
          <p class="font-italic">Opposite Naivasha Sub-Couny, referral hospital</p>
          <p>Kenyatta Avenue</p>
          <strong>Phone:</strong> 0208000400
        </div>
      </div>


      <!-- ======= Mombasa Offices ======= -->
      <div class="collapsible-container">
        <h2>Mombasa Offices</h2>
        <button active type="button" class="collapsible">Mombasa Office<i class="fa-solid fa-plus"
            style="float: right;"></i></button>
        <div class="content">
          <h3>Mombasa Kisimani Office</h3>
          <p class="font-italic">Inside Fairdeal Business Center Ground floor Door No. G7</p>
          <p>Kisimani Bombo lulu Nyali</p>
          <strong>Phone:</strong> 0202033306
        </div>
      </div>

       <!-- ======= Kisii Offices ======= -->
       <div class="collapsible-container">
        <h2>Kisii Offices</h2>
        <button active type="button" class="collapsible">Kisii Office<i class="fa-solid fa-plus"
            style="float: right;"></i></button>
        <div class="content">
          <h3>Kisii Ouru Towers Office</h3>
          <p class="font-italic">Ouru Towers above KWFT, 2nd floor</p>
          <p>Along Kisii-Sotik Road, New Oshwal Kisii Town</p>
          <strong>Phone:</strong> 
        </div>
      </div>

      <!-- ======= Eldoret Offices ======= -->
      <div class="collapsible-container">
        <h2>Eldoret Offices</h2>
        <button active type="button" class="collapsible">Eldoret Office<i class="fa-solid fa-plus"
            style="float: right;"></i></button>
        <div class="content">
          <h3>Eldoret Dalsa Center Office</h3>
          <p class="font-italic">Dalsa Center, 1st floor Room No. 19</p>
          <p>Oloo Street, Eldoret CBD</p>
          <strong>Phone:</strong> 0202333022
        </div>
      </div>

       <!-- ======= Homabay Offices ======= -->
       <div class="collapsible-container">
        <h2>Homabay Offices</h2>
        <button active type="button" class="collapsible">Homabay Office<i class="fa-solid fa-plus"
            style="float: right;"></i></button>
        <div class="content">
          <h3>Homabay Office</h3>
          <p class="font-italic">Mwananchi Credit Building, Door No. 5</p>
          <p>Opposite Hard Rock Hotel, Garage Road</p>
          <strong>Phone:</strong> 
        </div>
      </div>

        <!-- ======= Homabay Offices ======= -->
        <div class="collapsible-container">
          <h2>Kakamega Offices</h2>
          <button active type="button" class="collapsible">Kakamega Office<i class="fa-solid fa-plus"
              style="float: right;"></i></button>
          <div class="content">
            <h3>Kakamega Mega Mall Office</h3>
            <p class="font-italic">Mega Mall, 2nd floor Romm NO. 14</p>
            <p>Along Kakamega-Kisumu Road</p>
            <strong>Phone:</strong> 0202333344
          </div>
        </div>


    </section><!-- End Cource Details Tabs Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
   <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Cossim Limited</h3>
            <p>
              Applewood Adams 6th Floor,<br> Room 602<br>
              Ngong Road, Nairobi<br>
              Kenya <br><br>
              <strong>Phone:</strong> 0202030330<br>
              <strong>Email:</strong> info@cossim.co.ke<br>
            </p>
          </div>

          <!-- <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div> -->

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="services.html">Pre-Postpaid Delivery</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="services.html">Reverse Logistics</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="services.html">PickUp Stations</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="services.html">Within Hours Delivery</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="services.html">Dedicated Rider/Van Services</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>New to Cossim subscribe to get the latest offers</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>Cossim Limited</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/ -->
          Designed by <a href="https://bootstrapmade.com/">SamTech</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="https://twitter.com/CossimLimited" class="twitter" target="_blank"><i class="bx bxl-twitter"></i></a>
        <a href="https://web.facebook.com/Cossim-Limited-101276484986594" class="facebook" target="_blank"><i class="bx bxl-facebook"></i></a>
        <a href="https://instagram.com/cossimlimited/" class="instagram" target="_blank"><i class="bx bxl-instagram"></i></a>
        <a href="https://linkedin.com/company/cossim-limited/" class="linkedin" target="_blank"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>
  <script src="static/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="static/vendor/counterup/counterup.min.js"></script>
  <script src="static/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="static/js/offices.js"></script>
  <script src="static/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

</body>

</html>