<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>COSSIM LIMITED</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/cossim logo.png" rel="icon">
  <link href="static/img/cossim logo.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,300&family=Source+Sans+Pro&display=swap" rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="static/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="static/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Mentor - v2.2.1
  * Template URL: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="index.html"><img src="static/img/cossim logo.png" class="img-fluid" alt=""></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
           <li class="active"><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('about') }}">About</a></li>
          <li><a href="{{ url_for('services') }}">Services</a></li>
          <!-- <li><a href="track.html">Track Order</a></li> -->
          <li><a href="{{ url_for('offices') }}">PickUp Stations</a></li>
          <li><a href="{{ url_for('contact') }}">Contact</a></li>

        </ul>
      </nav><!-- .nav-menu -->


    </div>


  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Our Solutions</h2>
        <p>This is what we do.</p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Events Section ======= -->
    <section id="events" class="events">
      <div class="container">

        <div class="row">
          <div class="col-md-6 d-flex align-items-stretch">
            <div class="card">
              <div class="card-img">
                <img src="static/img/cosssim8.jpg" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">1.  Pre-Postpaid Delivery</a></h5>
                <p class="card-text">
                  Suitable for ecommerce firms. We deliver and collect cash on you behalf that we remit
                  to your account next day in full.
                </p>
              </div>
              
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch">
            <div class="card">
              <div class="card-img">
                <img src="static/img/cossim3.jpg" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">2.  Reverse Logistics</a></h5>
                <p class="card-text">
                  Dealing with damaged and returned goods has become as important as selling the product
                  itself. We consolidate and return to vendor.
                </p>
              </div>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-md-6 d-flex align-items-stretch">
            <div class="card">
              <div class="card-img">
                <img src="static/img/pickup-station.jpg" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">3.  PickUp Station</a></h5>
                <p class="card-text">
                  We hold customer mails on behalf of their clients who then collect at our
                  offices within 7 working days.
                </p>
              </div>
              
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch">
            <div class="card">
              <div class="card-img">
                <img src="static/img/rider-services.png" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">4.  Dedicated rider or driver services</a></h5>
                <p class="card-text">
                  We provide our clients with full compliant rider and a motorbike or
                  driver and van on a full time basis.
                </p>
              </div>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-md-6 d-flex align-items-stretch">
            <div class="card">
              <div class="card-img">
                <img src="static/img/hours-delivery.jpg" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">5.  Within Hours Delivery</a></h5>
                <p class="card-text">
                  Delivery completed sameday within 2-3 hours after an order is processed.
                </p>
              </div>
              
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch">
            <div class="card">
              <div class="card-img">
                <img src="static/img/car-rental.jpg" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">6.  Car Rental</a></h5>
                <p class="card-text">
                  Build your mobility transportation policy with our customized vehicle programs
                  to fit your needs.
                </p>
              </div>
            </div>

          </div>
        </div>



      </div>
    </section><!-- End Events Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Cossim Limited</h3>
            <p>
              Applewood Adams 6th Floor,<br> Room 602<br>
              Ngong Road, Nairobi<br>
              Kenya <br><br>
              <strong>Phone:</strong> 0202030330<br>
              <strong>Email:</strong> info@cossim.co.ke<br>
            </p>
          </div>

          <!-- <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div> -->

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="services.html">Pre-Postpaid Delivery</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="services.html">Reverse Logistics</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="services.html">PickUp Stations</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="services.html">Within Hours Delivery</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="services.html">Dedicated Rider/Van Services</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>New to Cossim subscribe to get the latest offers</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>Cossim Limited</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/ -->
          Designed by <a href="https://bootstrapmade.com/">SamTech</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="https://twitter.com/CossimLimited" class="twitter" target="_blank"><i class="bx bxl-twitter"></i></a>
        <a href="https://web.facebook.com/Cossim-Limited-101276484986594" class="facebook" target="_blank"><i class="bx bxl-facebook"></i></a>
        <a href="https://instagram.com/cossimlimited/" class="instagram" target="_blank"><i class="bx bxl-instagram"></i></a>
        <a href="https://linkedin.com/company/cossim-limited/" class="linkedin" target="_blank"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>
  <script src="static/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="static/vendor/counterup/counterup.min.js"></script>
  <script src="static/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="static/js/offices.js"></script>
  <script src="static/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

</body>

</html>